@import "tailwindcss";

@theme {
    --color-stone: #e1e0dd; /* warm neutral gray */
    --color-sky: #37bbe4; /* clear modern blue */
    --color-ink: #35342f; /* near-black, softer than pure black */
    --color-paper: #f1f2f0; /* off-white, print-like */
    --color-font-black: #2b2b2b; /* black for text */
}

body {
    background-color: var(--color-stone);
    color: var(--color-font-black);
}
